title: "HTML5 Sound Recorder - danielx.net"
description: """
  Record sounds directly from your browser and download them to you local PC.
"""
version: "0.3.1"
remoteDependencies: [
]
dependencies:
  "pixie-canvas": "distri/pixie-canvas:v0.9.2"
  "sys": "STRd6/system-client:master"
