title: "Sound Recorder - danielx.net"
description: """
  Record sounds directly from your browser and download them to you local PC.
"""
version: "0.2.0"
remoteDependencies: [
]
dependencies:
  observable: "distri/observable:v0.3.7"
  "pixie-canvas": "distri/pixie-canvas:v0.9.2"
  postmaster: "distri/postmaster:v0.5.0"
