*
  box-sizing: border-box

html
  height: 100%

body
  background-color: black
  height: 100%
  margin: 0
  overflow: hidden

.actions
  display: inline-flex
  position: absolute
  top: 0
  right: 0

  > button.recording
    color: red
