*
  box-sizing: border-box

html
  height: 100%

body
  background-color: black
  height: 100%
  margin: 0
  overflow: hidden

.actions
  position: absolute
  top: 0
  right: 0

  button.recording
    color: red

.console-wrap
  position: absolute
  height: 2em
  padding: 1em
  width: 100%
  overflow: auto

  .notices
    color: lime

  pre
    margin: 0
