.actions
  %button.save 
    - on "click", @save
  %button.stop ■
    - on "click", @stop
  %button.play ▸
    - on "click", @play
  %button.record(class=@recordingClass) ●
    - on "click", @record
